h1{
    color: #F9F2ED;
    background-color: #3AB0FF;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2{
    color: #F9F2ED;
    background-color: #3AB0FF;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3{
    color: #FFB562;
}
div{
    color:#F9F2ED;
    background-color:#F87474;
}