h1{
    background-color: #66BFBF;
    color: #FFFFFF;
    font: Times New Roman;
    text-align: center;
}
h2{
    background-color: #66BFBF;
    color: #FFFFFF;
    font: serif;
    text-align: center;
}
h3{
color: #66BFBF;
font: Times New Roman;    
}

h4{
    color: #FF0063;
    font: Times New Roman;    
    }

div{
    color: #66BFBF;
}